body {
    font-family:'Times New Roman', Times, serif ;
}
h1 {
    color: red;
    text-align: center;
}
h2 {
    color: blue;
}
h3 {
    color: coral;
}
.position {
    list-style-position: inside;
    text-align: center;
}

.a1 {
    padding: 2px;
}